/*************** PROJECT 1 ****************/

#pro1 header {
	background: #f13759;
}
#pro1 .bkgrnd_colour {
	background: #f0f0f1;
}

#pro1 h1 {
	font-family: 'Poiret One', sans-serif;
	font-size: 50pt;
	text-align: center;
	color: white;
	margin: 30px 0px;
}

#pro1 header h2 {
	color: #fff;
}

#pro1 header p {
	color: #fff;
}

#pro1 .topimage img {
	float: left;
	padding-right: 30px;
	margin-bottom: 30px;
	width: 40%;
}

#pro1 .contentblock{
	width: 80%;
	margin: 0 auto;
}

#pro1 h2 {
	font-family: 'Poiret One', sans-serif;
	font-size: 30pt;
	text-align: left;
	color: #000;
	margin-top: 28px;
}

#pro1 p {
	color: #000;
	font-size: 14px;
	font-family: 'Merriweather', serif;
	line-height: 1.6em;
}


#pro1 .icons p {
	font-family: 'Merriweather', serif;
	font-size: 12pt;
	line-height: 1.4em;
}

#pro1 div {
	padding: 15px 0px;
}

#pro1 .intro div {
	padding: 0px;
}

#pro1 .icons li {
	width: 12%;
}

#pro1 .icons img {
	border-radius: 50%;
}

#pro1 img {
	padding: 10px;
}

#pro1 .twopics, .onepic {
	padding: 0px;
}

#pro1 .twopics img {
	width: 360px;
}

#pro1 .onepic img {
	width: 725px;
}

strong {
	font-family: 'Merriweather', serif;
	font-weight: 700;
}

.software{
	background-color: white;
 }

#pro1 .software h2, #pro1 .software p {
	color: black;
}

.project_nav {
	background-color: #34b0be;
}

.next_chevron {
	float: right;
	color: white;
	margin-left: 20px;
}

#pro1 .next_text p {
	text-align: right;
	float: right;
	padding: 0px;
	color: #fff;
}

#contact {
	background: #f13759;
}

#pro1 #contact .container h2 {
	text-align: center;
	color: #fff;
}

#pro1 #contact .container p {
	color: #fff;
}

#pro1 footer p {
	font-size: 8pt;
	color: #fff;
}

/*************BREAK POINT 1090!*****************/

@media only screen and (max-width: 1090px){

#pro1 .twopics, .onepic {
	text-align: center;
	padding: 0px;
}

}

/*************BREAK POINT 1015!*****************/

@media only screen and (max-width: 1015px){

#pro1 .role {
	float: left;
}

#pro1 .onepic img {
	width: 600px;
}

}

/************* Tablet ****************/
@media only screen and (max-width: 768px){

#pro1 .container {
	width: 90%;
}

#pro1 img {
	padding: 0px;
}

#pro1 .topimage {
	margin-top: 28px;
}

#pro1 .container p {
	text-align: left;
	font-size: 16px;
}


#pro1 ul {
	text-align: left;
}

#pro1 .icons li {
	width: 16%;
}

#pro1 .twopics img {
	padding: 20px 10px 0px 10px;
}

#pro1 .onepic img {	
	width: 90%;
	padding: 20px 10px 0px 10px;
}

#pro1 #contact h2 {
	text-align: center;
}

#pro1 #contact p {
	text-align: center;
}

#pro1 #contact ul {
	text-align: center;
}
}

/*************BREAK POINT 670!*****************/

@media only screen and (max-width: 670px){

#pro1 .topimage img{
	float: none;
	padding: 0px;
	text-align: center;
	width: 90%;
}
}

/*************MOBILE PHONE**********/

@media only screen and (max-width: 550px){

#pro1 nav img {
	float: none;
}

#pro1 nav ul {
	float: none;
	text-align: center;
}

#pro1 .topimage {
	text-align: center;
}

#pro1 .topimage img {
	float: none;
	width: 90%;
	text-align: center;
	padding-right: 0px;
}

#pro1 .role li{
	width: 26%;
}

#pro1 .role li p {
	text-align: center;
}

#pro1 .onepic img {
	width: 400px;
}

}