
*{
	box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

header img {
	width: 100px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5em;
	color: black;
	background: url(../img/background.jpg) center center no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #7b787c;
}

.container{
	position: relative;
	width: 70%;
	max-width: 1170px;
	margin: 0 auto;
}

h1, h2, h3, time{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: black;
}

h1{
	font-size: 120px;
	letter-spacing: 12px;
	margin-bottom: 48px;
	line-height: 0.9em;
}

h2{
	font-size: 30px;
	margin-bottom: 28px;
}

h3{
	font-size: 20px;
	margin-bottom: 16px;
}

time{
	display: block;
	font-size: 16px;
	color: #959595;
}

a{
	color: #000;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

.logo{
	float: left;
}

header.top_bar{
	margin-bottom: 10%;
}

.top_bar .icon_bar{
	display: block;
	height: 2px;
	margin-bottom: 4px;
	background-color: #fff;
}

.menu{
	width: 24px;
	margin: 28px auto 0;
}

header nav ul{
	display: none;
}

header nav{
	display: inline-block;
	float: right;
	background-color: #352d2f;
	width: 70px;
	height: 70px;
	cursor: pointer;
}

main{
	width: 60%;
	margin-bottom: 40px;
}

.lead{
	font-size: 26px;
	line-height: 1.2em;
	margin-bottom: 30px;
	color: #000;
}

p{
	color: #000;
}

aside{
	width: 60%;
	font-size: 18px;
}

aside p{
	margin-bottom: 30px;
}

a.signupbutton {
	background-color: #FDBA16;
	width: 300px;
	height: 150px;
	border-radius: 5px;
	color: #ffffff;
	padding: 10px 50px 10px 50px;
	text-decoration: none;
	margin-bottom: 60px;
}

a.signupbutton:hover {
	background-color: #FFD92C;
	color: #6D6E70;
}

/*
input {
	display: inline-block;
	color: #555;
	font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
	font-size: 16px;	
	width: 70%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding: 15px;
	float: left;
}

button {
	display: inline-block;
	float: left;
	font-family: 'Teko', Arial, Helvetica, sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #ffffff;
	background-color: #f63c3c;
	border: none;
	vertical-align: bottom;
	margin: 0;
	height: 50px;
	padding: 13px 28px;
	cursor: pointer;
}*/

ul.social_media li{
	margin-top: 20px;
	font-size: 14px;
	margin-bottom: 20px;
	color: #6D6E70;
}

ul.social_media li h3{
	display: inline-block;
	margin-bottom: 2px;
}

ul.social_media a{
	text-decoration: none;
}

ul.social_media article time{
	margin-top: 10px;
}

.twitter article{
	margin-left: 42px;
	width: 70%;
}

.twitter:before, .facebook:before, .linkedin:before{
	position: relative;
	top: 2px;
	color: #6D6E70;
}

.twitter:before{
	content: "\f099";
	display: inline-block;
	width: 40px;
	font-size: 28px;
	font-family: "FontAwesome";
}
.facebook:before{
	content: "\f09a";
	display: inline-block;
	width: 40px;
	font-size: 28px;
	font-family: "FontAwesome";
}
.linkedin:before{
	content: "\f0e1";
	display: inline-block;
	width: 40px;
	top: 0;
	font-size: 26px;
	font-family: "FontAwesome";
}


footer{
	padding: 30px 0;
	font-size: 13px;
	color: #959595;
}

/*This is the stuff I added*/

@media screen and (min-width: 768px and max-width: 1024px){

	main {
		width: 82%;
	}

	aside {
		width: 60%;
	}
}


@media screen and (max-width: 768px){

	.container{
		width: 100%;
	}

	main, aside, footer{
		margin-left: 10%;
	}

	aside {
		width: 56%;
	}
}

@media screen and (max-width: 728px){

	h1{
		font-size: 80px;
	}

	main, aside {
		width: 80%;
	}

	.lead {
		font-size: 20px;
	}

	input, button {
		display: block;
		width: 100%;
	}

	.twitter article, ul.social_media li h3 {
		display: none;
	}

	ul.social_media li {
		display: inline-block;
	}
}













